<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
       <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <div class="container">
        <h2>Digital Library Dashboard</h2>
        <div class="buttons">
            <a href="/library/books" class="dashboard-button">View Book Details</a></a>
            <a href="/library/patrons" class="dashboard-button">View Patron Details</a>
            <a href="/library/borrowingRecords" class="dashboard-button">View Borrowing Record Details</a>
			<a href="/library/borrowingBook" class="dashboard-button">Borrow Book</a>
			<a href="/library/returningBook" class="dashboard-button">Return Book</a>
        </div>
		<div class="content">
		<a href="/library" class="button">Back to Home</a>
		</div>
    </div>
</body>
</html>
